@import "tailwindcss";

html, body, #root {
  height: 100%;
}

@font-face {
  font-family: 'Diatype';
  src: url('/fonts/Diatype.woff2') format('woff2'),
       url('/fonts/Diatype.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.font-diatype {
  font-family: 'Diatype', monospace;
}